@model RQ_Compra.Models.RQCompra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RQCompra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cia_codcia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cia_codcia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suc_codsuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suc_codsuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tin_codtin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tin_codtin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecreg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecreg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecsug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecsug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi_codadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi_codadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.S10_usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.S10_usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_glorco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_glorco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cco_codcco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cco_codcco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_sitrco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_sitrco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_sitlog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_sitlog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano_codano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano_codano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes_codmes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes_codmes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usu_codapr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usu_codapr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecapr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecapr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_gloapr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_gloapr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_indest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_indest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_feccre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_feccre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_usucre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_usucre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_codusu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_codusu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ung_codung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ung_codung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_indcie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_indcie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_obscie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_obscie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_indval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_indval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_numpcn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_numpcn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dis_coddis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dis_coddis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_rembls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_rembls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_presup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_presup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_9digit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_9digit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_priori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_priori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_codalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_codalt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_obspri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_obspri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_rutdoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_rutdoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecprg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecprg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_procur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_procur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_tiprco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_tiprco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocm_corocm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocm_corocm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tmo_codtmo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tmo_codtmo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fecent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fecent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_impser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_impser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_flgcom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_flgcom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_flgate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_flgate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_jusate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_jusate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_flgmig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_flgmig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_imppor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_imppor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_hito01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_hito01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpa_codcpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpa_codcpa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_imprec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_imprec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_impfac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_impfac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_numsol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_numsol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_monpre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_monpre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_imppre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_imppre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_sitctb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_sitctb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_ajufac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_ajufac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_impcfm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_impcfm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_feinre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_feinre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_fefire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_fefire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_clfprv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_clfprv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_gloclf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_gloclf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_ultcer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_ultcer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_feaclf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_feaclf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rco_usaclf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rco_usaclf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Rco_numrco">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
