@model PaginacionRespuesta<RQCompraCab>

@{
    ViewData["Title"] = "Requerimiento de Compra";
}
<script>
    $('ul.selec_ano li').click(function (e) {
                $("#muestra_ano").text(this.id);      
                $("#periodo").text(this.id);
       });
   
    $(function () {
      $('ul.selec_mes li').click(function (e) {
                $("#muestra_mes").text(this.id);
                $("#periodo").text("-");
                $("#periodo").text(this.id);
      });
    });
   function colocaPeriodo(){
       var objano   = document.getElementById("muestra_ano");
       var valueano = objano.innerHTML.substring(5, 9);
       var objmes   = document.getElementById("muestra_mes");
       var valuemes = objmes.innerHTML.substring(5, 7);
        if ((valueano + valuemes).length>5) 
        {
            $("#input_periodo").val(valueano + '-' + valuemes);
            var Objlabel = document.getElementById("label_periodo");
            Objlabel.style.display = 'none';
            var Objinput = document.getElementById("input_periodo");
            Objinput.style.display = '';
            $("#form_periodo").val(valueano + valuemes);
            $("#filtro_periodo").val(valueano + valuemes);
            //$("#btn_filtrar").click();
        }
        else {
            alert("Porfavor seleccione Año y Mes !!");
            $("#btn_modal").click();
        }           
      }
      function colocaEstado(){
      var combo   = document.getElementById("cbo_estado");   
      var selected = combo.options[combo.selectedIndex].value;
       $("#filtro_estado").val(selected);
      }
</script >

<div class="d-flex flex-row align-items-center justify-content-center">
    <h2 class="">Requerimiento de Compra</h2> 
    <label id="label_periodo" class="ms-4" style="color:blue;display:''">@ViewBag.periodo</label><br />
    <input id="input_periodo" type="text" class="ms-4" style="width:72px;color:blue;display:none;border: 1px solid white"/>
    <form asp-controller="RQCompra" asp-action="Busqueda" method="post">
        <input id="form_periodo" class="ms-4" style="width:60px;display:none" name="periodo" type="text" />
        <button id="btn_actualiza" type="submit" class="btn btn-outline-success" style="display:none ">ActualizaPeriodo</button>
    </form>
</div>  
<div class="d-flex flex-row ms-5">
    <form asp-controller="RQCompra" asp-action="Busqueda" method="post">
        <div class="d-flex flex-row">
            <span>Campo Selec.(NroReq) </span>
            <input id="filtro_busqueda" type="text" name="busqueda" placeholder="Filtrar ..." class="ms-2"/>
            <input id="filtro_periodo"  type="text" name="periodo" style="width:60px;display:''" class="ms-4"/>
            <input id="filtro_estado"   type="text" name="estado"  value="2" style="width:30px;display:none" class="ms-4"/>
            <button id="btn_filtrar" type="submit" class="btn btn-primary ms-5">Filtrar</button>
        </div>        
    </form>   
    <a class="btn btn-primary ms-5" asp-action="Crear">Nuevo</a>
    <a class="btn btn-danger ms-5" asp-controller="Home" asp-action="Index">Salir</a>
</div>
<br />
<div class="d-flex flex-row ms-5">
    <div style="width:10%">
      <span>Estado :</span>
      <select id="cbo_estado" onclick="colocaEstado()">
         <option value="2">Todos</option>
         <option value="1">Vigentes</option>
         <option value="0">Anulados</option>
      </select>
    </div>
    <!-- Button Modal -->
    <button id="btn_modal" type="button" style="height:30px" class="btn btn-primary ms-4 me-4 btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
        Cambiar Periodo
    </button>   
    <!--  Modal -->
    <div class="modal" id="myModal" >
        <div class="modal-dialog">
            <div class="modal-content">            
                    <div class="modal-header">
                        <h4 class="modal-title">Seleccione Periodo</h4>                       
                        <div  id="muestra_ano" name="ano" class="ms-1 text-black " ></div>                       
                        <div  id="muestra_mes" name="mes" class="ms-1 text-black " ></div>                       
                    </div>
                    <div class="modal-body d-flex flex-row justify-content-md-center">
                        <!-- Insercion de JQuery  -->
                        <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
                        <div style="cursor:pointer">
                            <ul class="selec_ano list-group list-unstyled">
                                <li id="2021" class="list-group-item-action">2021</li>
                                <li id="2022" class="list-group-item-action">2022</li>
                            </ul>
                        </div>
                        <div class="ms-5" style="cursor:pointer">
                            <ul class="selec_mes list-group list-unstyled">
                                <li id="09" class="list-group-item-action">SETIEMBRE</li>
                                <li id="10" class="list-group-item-action">OCTUBRE</li>
                                <li id="11" class="list-group-item-action">NOVIEMBRE</li>
                                <li id="12" class="list-group-item-action">DICIEMBRE</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="colocaPeriodo()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>                      
            </div>
        </div>
    </div>
    <div class="position-relative" style="width:70%">
        <span class="ms-xl-5 position-absolute end-0">Cantidad de Registros @Model.CantidadRegistros</span>
    </div> 
</div>
<br/>
<!-- Table -->
<div class="table-responsive" style="width:100%" >
<table class="table table-bordered table-hover" >
    <thead class="table-primary">
        <tr>
            <th>   </th>
            <th>
                Nº Req
            </th>
            <th>
              Fecha Registro
            </th>         
            <th>
               Originador
            </th>         
            <th>
               Solicitante
            </th>
            <th>
                Motivo
            </th>                 
            <th>
                Unidad Negocio
            </th>           
            <th>
               Centro Costo
            </th>
            <th>
                Disciplina
            </th>
            <th>
               Situacion Req
            </th>
            <th>
               Prioridad Req
            </th>
            <th>
                Justificacion
            </th>           
            <th>
                Reem.
            </th>          
            <th>
                Pr.
            </th>
            <th>
               Cat.
            </th>
            <th>
               CCtrl.
            </th>
            <th>
               Cotizacion
            </th>
             <th>
               Orden Compra
             </th>
             <th>
                Situacion 
             </th>
             <th>
                Proveedor
             </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Elementos) {
        <tr>
            <td>
               <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Rco_numero">Editar</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fec_registro)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_origen)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.User_solicita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_negocio)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.Centro_costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_situacion_aprobado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_justificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_reembolso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_presupuesto)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Rco_categorizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccc_numeroccc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scc_cotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_numeroocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_dessituacionocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCC_ProveedorOCC)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_paginacion" />
<!-- Button Modal -->
<button type="button" class="btn btn-success ms-4 me-4" data-bs-toggle="modal" data-bs-target="#ModalDetPrd">
    Configuracion
</button>
<div class="modal" id="ModalDetPrd">
    <div class="modal-dialog">
        <div class="modal-content">            
                <div class="modal-header">
                    <h4 class="modal-title">Especificaciones de producto</h4>                                   
                </div>
                <div class="modal-body d-flex flex-column justify-content-center">
                  <label>Producto: 999900000018</label>                 
                  <textarea class="col-5 mt-2" style="width:350px;height:200px"> </textarea>
                </div>
                <div class="modal-footer">
                    <button onclick="" type="button" class="btn btn-danger" data-bs-dismiss="modal">Retornar</button>
                </div>
        </div>
    </div>
</div>

