@model IEnumerable<RQ_Compra.Models.RQCompra>

@{
    ViewData["Title"] = "Requerimiento de Compra";
}

<h1>Requerimiento de Compra</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Accion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cia_codcia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suc_codsuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_numrco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tin_codtin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecreg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecsug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adi_codadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.S10_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_glorco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cco_codcco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_sitrco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_sitlog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano_codano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes_codmes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usu_codapr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecapr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_gloapr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_indest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_feccre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_usucre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_codusu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ung_codung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_indcie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_obscie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_indval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_numpcn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dis_coddis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_rembls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_presup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_9digit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_priori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_codalt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_obspri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_rutdoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecprg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_procur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_tiprco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocm_corocm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tmo_codtmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fecent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_impser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_flgcom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_flgate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_jusate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_flgmig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_imppor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_hito01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpa_codcpa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_imprec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_impfac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_numsol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_monpre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_imppre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_sitctb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_ajufac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_impcfm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_feinre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_fefire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_clfprv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_gloclf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_ultcer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_feaclf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rco_usaclf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Rco_numrco">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cia_codcia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suc_codsuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numrco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tin_codtin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecreg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecsug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adi_codadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S10_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_glorco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cco_codcco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_sitrco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_sitlog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano_codano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes_codmes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu_codapr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecapr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_gloapr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_indest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_feccre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_usucre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_codusu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ung_codung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_indcie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_obscie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_indval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numpcn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dis_coddis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_rembls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_presup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_9digit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_priori)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_codalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_obspri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_rutdoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecprg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_procur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_tiprco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocm_corocm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tmo_codtmo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fecent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_impser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_flgcom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_flgate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_jusate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_flgmig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_imppor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_hito01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpa_codcpa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_imprec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_impfac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numsol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_monpre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_imppre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_sitctb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_ajufac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_impcfm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_feinre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fefire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_clfprv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_gloclf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_ultcer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_feaclf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_usaclf)
            </td>
            
        </tr>
}
    </tbody>
</table>
