@model PaginacionRespuesta<RQCompraCab>
@{
    ViewData["Title"] = "Requerimiento de Compra";
}
<script>
    $(function () {
      $('ul.selec_ano li').click(function (e) {
                $("#muestra_ano").text(this.id);      
                $("#periodo").text(this.id);
       });
    });
    $(function () {
      $('ul.selec_mes li').click(function (e) {
                $("#muestra_mes").text(this.id);
                $("#periodo").text("-");
                $("#periodo").text(this.id);
      });
    });
    function Test(){
        var objAno = document.getElementById("muestra_ano").innerText;
        var objMes = document.getElementById("muestra_mes").innerText;

        var objperiodo = document.getElementById("div_periodo");
        objperiodo.value =objAno +"-"objMes;
    }

</script >
<div class="d-flex flex-row align-items-center justify-content-center">
    <h2 class="">Requerimiento de Compra</h2> <label id="div_periodo" class="ms-4" style="color:blue">@ViewBag.periodo</label><br />
</div>  
<!--   <script type="text/javascript" src="/js/site.js"></script> -->
<div class="d-flex flex-row ms-5"> 
    <form action="RQCompra/Index" method="get">
        <div class="d-flex flex-row">
            <span>Campo Selec. </span>
            <input class="ms-2 input border" type="search" name="txtbuscarRQ" id="buscarRQ" placeholder="Filtrar ..." />
            <button type="submit" class="btn btn-primary ms-5">Filtrar</button>
        </div>        
    </form>   
    <a class="btn btn-primary ms-5" asp-action="Crear">Nuevo</a>
    <a class="btn btn-danger ms-5" asp-controller="Home" asp-action="Index">Salir</a>
</div>
<br />
<div class="d-flex flex-row ms-5">
    <div style="width:10%">
      <span>Estado :</span>
      <select name="cboEstado">
         <option value=2>Todos</option>
         <option value=1>Vigentes</option>
         <option value=0>Anulados</option>
      </select>
    </div>
    <!-- Button Modal -->
    <button type="button" style="height:30px" class="btn btn-primary ms-4 me-4 btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
        Cambiar Periodo
    </button>   
    <!--  Modal -->
    <div class="modal" id="myModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <form  asp-action="ActualizaPeriodo" method="post"> 
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Seleccione Periodo</h4>
                        <label class="form-label" for="muestra_ano"></label>
                        <div  id="muestra_ano" name="ano" class="ms-3 text-black " ></div> 
                        <label class="form-label" for="muestra_mes"></label>
                        <div  id="muestra_mes" name="mes" class="ms-3 text-black " ></div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body d-flex flex-row justify-content-md-center">
                        <!-- Insercion de JQuery  -->
                        <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
                        <div style="cursor:pointer">
                            <ul class="selec_ano list-group list-unstyled">
                                <li id="2021" class="list-group-item-action">2021</li>
                                <li id="2022" class="list-group-item-action">2022</li>
                            </ul>
                        </div>
                        <div class="ms-5" style="cursor:pointer">
                            <ul class="selec_mes list-group list-unstyled">
                                <li id="09" class="list-group-item-action">SETIEMBRE</li>
                                <li id="10" class="list-group-item-action">OCTUBRE</li>
                                <li id="11" class="list-group-item-action">NOVIEMBRE</li>
                                <li id="12" class="list-group-item-action">DICIEMBRE</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button onclick="Test()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>              
            </div>
        </div>
    </div>
    <div class="position-relative" style="width:70%">
        <span class="ms-xl-5 position-absolute end-0 text-">Cantidad de Registros : @Model.CantidadRegistros </span>
    </div>
   
</div>
<br/>
<!-- Table -->
<div class="table-responsive" style="width:100%" >
<table class="table table-bordered table-hover" >
    <thead class="table-primary">
        <tr>
            <th>   </th>
            <th>
                Nº Req
            </th>
            <th>
              Fecha Registro
            </th>         
            <th>
               Originador
            </th>         
            <th>
               Solicitante
            </th>
            <th>
                Motivo
            </th>                 
            <th>
                Unidad Negocio
            </th>           
            <th>
               Centro Costo
            </th>
            <th>
                Disciplina
            </th>
            <th>
               Situacion Req
            </th>
            <th>
               Prioridad Req
            </th>
            <th>
                Justificacion
            </th>           
            <th>
                Reem.
            </th>          
            <th>
                Pr.
            </th>
            <th>
               Cat.
            </th>
            <th>
               CCtrl.
            </th>
            <th>
               Cotizacion
            </th>
             <th>
               Orden Compra
             </th>
             <th>
                Situacion 
             </th>
             <th>
                Proveedor
             </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Elementos) {
        <tr>
            <td>
               <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Rco_numero">Editar</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fec_registro)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_origen)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.User_solicita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_negocio)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.Centro_costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_situacion_aprobado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_justificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_reembolso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_presupuesto)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Rco_categorizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccc_numeroccc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scc_cotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_numeroocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_dessituacionocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCC_ProveedorOCC)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_paginacion" />
<!-- Button Modal -->
<button type="button" class="btn btn-success ms-4 me-4" data-bs-toggle="modal" data-bs-target="#myModalConfig">
    Configuracion
</button>
<!--  Modal -->
<div class="modal" id="myModalConfig">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="" method="post">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Parametros de Configuracion</h4>
                    <label class="form-label" for="muestra_ano"></label>
                    <div id="muestra_ano" name="ano" class="ms-3 text-black "></div>
                    <label class="form-label" for="muestra_mes"></label>
                    <div id="muestra_mes" name="mes" class="ms-3 text-black "></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body d-flex flex-row justify-content-md-center">
                    <label>Tabla :</label>
                    <input class="ms-3" type="text" placeholder="Tabla en bd ..."/>
                    
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="Test()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

