@model PaginacionRespuesta<RQCompraCab>

@{
    ViewData["Title"] = "Requerimiento de Compra";
    ViewData["Compañia"] = "SNC LAVALIN PERU S.A.";
}

<h2>Requerimiento de Compra</h2> <br/>

<div class="d-flex flex-row"> 
   <div> 
       <span>Campo Selec. </span>
       <input class="ms-2" type="text" name="txtbuscarRQ" id="buscarRQ" placeholder="Filtrar ..." />
   </div>
    <a class="btn btn-primary ms-5" asp-action=" ">Filtrar</a>
    <a class="btn btn-primary ms-5" asp-action="Crear">Nuevo</a>
    <a class="btn btn-danger ms-5" asp-action=" ">Salir</a>
</div>
<br />
<div class="d-flex flex-row ">
   <div>
      <span>Estado :</span>
      <select name="cboEstado">
         <option value=2>Todos</option>
         <option value=1>Vigentes</option>
         <option value=0>Anulados</option>
      </select>
    </div>
<a class="btn btn-primary ms-5" asp-action=" ">Cambiar Periodo</a>
<span class="ms-xl-5">Cantidad de Registros :  @Model.CantidadRegistros </span>
</div>
<br/>
    
<div class="table-responsive" style="width=100%" >
<table class="table table-bordered table-hover" >
    <thead class="table-primary">
        <tr>
            <th>   </th>
            <th>
                Nº Req
            </th>
            <th>
              Fecha Registro
            </th>         
            <th>
               Originador
            </th>         
            <th>
               Solicitante
            </th>
            <th>
                Motivo
            </th>                 
            <th>
                Unidad Negocio
            </th>           
            <th>
               Centro Costo
            </th>
            <th>
                Disciplina
            </th>
            <th>
               Situacion Req
            </th>
            <th>
               Prioridad Req
            </th>
            <th>
                Justificacion
            </th>           
            <th>
                Reem.
            </th>          
            <th>
                Pr.
            </th>
            <th>
               Cat.
            </th>
            <th>
               CCtrl.
            </th>
            <th>
               Cotizacion
            </th>
             <th>
               Orden Compra
             </th>
             <th>
                Situacion 
             </th>
             <th>
                Proveedor
             </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Elementos) {
        <tr>
            <td>
               <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Rco_numero">Editar</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_fec_registro)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_origen)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.User_solicita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.U_negocio)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.Centro_costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_situacion_aprobado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_justificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_reembolso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rco_presupuesto)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Rco_categorizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccc_numeroccc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scc_cotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_numeroocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occ_dessituacionocc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCC_ProveedorOCC)
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_paginacion" />
<a class="btn btn-success" asp-action=" ">Configuracion</a>

